<div>
    <h1>¡Recuperá tu contraseña!</h1>
    <h3>Porfavor ingresá tu mail para proceder con el recupero de tu contraseña.</h3>
    <div>
        <input type="text" id="email">
        <button onclick="sendMail()">Envíar</button>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/recoverPassword.js"></script>