<div>
    <h1>Recupero de contarse単a</h1>
    <label for="newPass">Escriba su nueva contrase単a</label>
    <input type="password" name="newPass" id="newPass">
    <label for="repeatPass">Repita su nueva contrase単a</label>
    <input type="password" name="repeatPass" id="repeatPass">
    <button onclick="resetPassword(`{{token}}`)">Cambiar contrase単a</button>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/recoverPassword.js"></script>
